body {
    background-color: rgb(247, 247, 247);
}

.product-h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.product-h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;

}

.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-top: 30px;
}

.p-media__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;

    img {
        position: absolute;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

.header-space {
    margin-bottom: 80px;
}

.text-history-products {
    font-size: 14px;
}

.text-history {
    font-size: 13px;
}

.mb20 {
    margin-bottom: 20px;
}

.history-product-price {
    margin-top: 20px;
    span {
        font-weight: bold;
        background: linear-gradient(to bottom, transparent, transparent 70%, #6d77b1 70%, #6d77b1 100%);
    }
}

.vertical-middle {
    vertical-align: bottom;
}

.button-3 {
    display: 'inline-block';
    margin-bottom: 20px;
    margin-right: 20px;
}

.sum-price {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to bottom, transparent, transparent 70%, #6d77b1 70%, #6d77b1 100%);
}